body {
	padding-bottom:190px;
}
#ideabox_widget {
	width:250px;
	height:190px;
	position:fixed;
	bottom:-175px;
	right:5px;
	background:#dedede;
	padding:5px;
	border:1px solid #ccc;
}
#ideabox_widget:hover {
	bottom: 0;
}

#ideabox_widget .titre {
	margin-bottom:10px;
}
#ideabox_widget input[type="text"], #ideabox_widget textarea {
	width:100%;
	box-sizing: border-box;
	resize:none;
}